 .u-section-1 {
  background-image: url("images/fondo.jpg");
  background-repeat: no-repeat;
  min-height: 1483px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  line-height: 0.4;
  font-size: 1.875rem;
  margin: 25px 118px 0 166px;
}

.u-section-1 .u-list-1 {
  width: 484px;
  margin: 32px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 233px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-1 {
  width: 47px;
  height: 36px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-2 {
  width: 47px;
  height: 36px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-3 {
  width: 47px;
  height: 36px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-4 {
  width: 47px;
  height: 36px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-5 {
  width: 47px;
  height: 36px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-6 {
  width: 47px;
  height: 36px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-8 {
  padding: 14px 30px;
}

.u-section-1 .u-text-9 {
  line-height: 0.4;
  font-size: 1.875rem;
  margin: 0 156px 0 223px;
}

.u-section-1 .u-list-2 {
  width: 484px;
  margin: 26px 24px 0 auto;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 126px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-image-7 {
  width: 47px;
  height: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: 9px 12px 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-image-8 {
  width: 47px;
  height: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  margin: 9px 12px 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-image-9 {
  width: 47px;
  height: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: 9px 12px 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-image-10 {
  width: 47px;
  height: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  margin: 9px 12px 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-image-11 {
  width: 47px;
  height: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  margin: 9px 12px 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-image-12 {
  width: 47px;
  height: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: 9px 12px 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-image-13 {
  width: 47px;
  height: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  margin: 9px 12px 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-image-14 {
  width: 47px;
  height: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: 9px 12px 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 9px;
  width: 40px;
  height: 40px;
  top: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 38px;
  right: 10px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-17 {
  padding: 15px 0;
}

.u-section-1 .u-text-18 {
  line-height: 0.4;
  font-size: 1.875rem;
  margin: 0 199px 0 216px;
}

.u-section-1 .u-list-3 {
  width: 582px;
  margin: 12px auto 0;
}

.u-section-1 .u-repeater-3 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 134px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-18 {
  padding: 10px 0;
}

.u-section-1 .u-image-15 {
  width: 79px;
  height: 59px;
  margin: 29px 69px 0 36px;
}

.u-section-1 .u-text-19 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px 0;
}

.u-section-1 .u-image-16 {
  width: 79px;
  height: 59px;
  margin: 29px 69px 0 36px;
}

.u-section-1 .u-text-20 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-20 {
  padding: 10px 0;
}

.u-section-1 .u-image-17 {
  width: 79px;
  height: 59px;
  margin: 29px 69px 0 36px;
}

.u-section-1 .u-text-21 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-22 {
  font-size: 1.875rem;
  margin: 39px 337px 0 calc(((100% - 1140px) / 2)  + 544px);
}

.u-section-1 .u-layout-wrap-2 {
  width: 911px;
  background-image: none;
  margin: 21px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 103px;
}

.u-section-1 .u-container-layout-21 {
  padding: 0 13px;
}

.u-section-1 .u-image-18 {
  width: 67px;
  height: 67px;
  margin: 15px auto 0 79px;
}

.u-section-1 .u-text-23 {
  margin: -48px auto 0 172px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 427px;
}

.u-section-1 .u-container-layout-22 {
  padding: 7px 27px;
}

.u-section-1 .u-list-4 {
  width: 856px;
  margin: 0 auto;
}

.u-section-1 .u-repeater-4 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 389px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-23 {
  padding: 0 10px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 59px;
}

.u-section-1 .u-image-19 {
  width: 59px;
  height: 59px;
  margin: -50px 59px 0 auto;
}

.u-section-1 .u-text-24 {
  margin: -43px 529px 0 142px;
}

.u-section-1 .u-container-layout-24 {
  padding: 0 10px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 59px;
}

.u-section-1 .u-image-20 {
  width: 59px;
  height: 59px;
  margin: -50px 59px 0 auto;
}

.u-section-1 .u-text-25 {
  margin: -43px 529px 0 142px;
}

.u-section-1 .u-container-layout-25 {
  padding: 0 10px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 59px;
}

.u-section-1 .u-image-21 {
  width: 59px;
  height: 59px;
  margin: -50px 59px 0 auto;
}

.u-section-1 .u-text-26 {
  margin: -43px 529px 0 142px;
}

.u-section-1 .u-container-layout-26 {
  padding: 0 10px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 59px;
}

.u-section-1 .u-image-22 {
  width: 59px;
  height: 59px;
  margin: -50px 59px 0 auto;
}

.u-section-1 .u-text-27 {
  margin: -43px 529px 0 142px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 275px;
}

.u-section-1 .u-container-layout-27 {
  padding: 0 30px;
}

.u-section-1 .u-list-5 {
  width: 830px;
  margin: 0 auto -17px 5px;
}

.u-section-1 .u-repeater-5 {
  min-height: 260px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-28 {
  padding: 0 30px;
}

.u-section-1 .u-image-23 {
  width: 59px;
  height: 59px;
  margin: -143px 154px 0 auto;
}

.u-section-1 .u-icon-5 {
  width: 115px;
  height: 115px;
  margin: 112px auto 0;
  padding: 0;
}

.u-section-1 .u-text-28 {
  margin: 0 15px 0 auto;
}

.u-section-1 .u-image-24 {
  width: 35px;
  height: 34px;
  margin: -57px auto 0;
}

.u-section-1 .u-text-29 {
  margin: 29px 151px 0 auto;
}

.u-section-1 .u-text-30 {
  margin: 7px auto 0 47px;
}

.u-section-1 .u-container-layout-29 {
  padding: 0 30px;
}

.u-section-1 .u-image-25 {
  width: 59px;
  height: 59px;
  margin: -143px 154px 0 auto;
}

.u-section-1 .u-icon-6 {
  width: 115px;
  height: 115px;
  margin: 112px auto 0;
  padding: 0;
}

.u-section-1 .u-text-31 {
  margin: 0 15px 0 auto;
}

.u-section-1 .u-image-26 {
  width: 35px;
  height: 34px;
  margin: -57px auto 0;
}

.u-section-1 .u-text-32 {
  margin: 29px 151px 0 auto;
}

.u-section-1 .u-text-33 {
  margin: 7px auto 0 47px;
}

.u-section-1 .u-container-layout-30 {
  padding: 0 30px;
}

.u-section-1 .u-image-27 {
  width: 59px;
  height: 59px;
  margin: -143px 154px 0 auto;
}

.u-section-1 .u-icon-7 {
  width: 115px;
  height: 115px;
  margin: 112px auto 0;
  padding: 0;
}

.u-section-1 .u-text-34 {
  margin: 0 15px 0 auto;
}

.u-section-1 .u-image-28 {
  width: 35px;
  height: 34px;
  margin: -57px auto 0;
}

.u-section-1 .u-text-35 {
  margin: 29px 151px 0 auto;
}

.u-section-1 .u-text-36 {
  margin: 7px auto 0 47px;
}

.u-section-1 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 96px;
  right: 15px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    background-size: cover;
    min-height: 1413px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 68px;
    margin-left: 116px;
  }

  .u-section-1 .u-list-1 {
    width: 410px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 223px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 106px;
    margin-left: 173px;
  }

  .u-section-1 .u-list-2 {
    width: 410px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 149px;
    margin-left: 166px;
  }

  .u-section-1 .u-list-3 {
    width: 470px;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 133px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 278px;
    margin-left: calc(((100% - 940px) / 2) + 449px);
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-5 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 778px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
    margin-left: 61px;
  }

  .u-section-1 .u-list-1 {
    width: 300px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 510px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 51px;
    margin-left: 118px;
  }

  .u-section-1 .u-list-2 {
    width: 300px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 94px;
    margin-left: 111px;
  }

  .u-section-1 .u-list-3 {
    width: 360px;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 416px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 213px;
    margin-left: calc(((100% - 720px) / 2) + 344px);
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-list-4 {
    width: 665px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 448px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 448px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 448px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 448px;
    margin-left: 61px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-list-5 {
    width: 660px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-5 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 878px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-22 {
    margin-right: 160px;
    margin-left: calc(((100% - 540px) / 2) + 258px);
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-4 {
    width: 520px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-5 {
    width: 520px;
  }

  .u-section-1 .u-repeater-5 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-list-3 {
    width: 340px;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.5rem;
    margin-right: 101px;
    margin-left: calc(((100% - 340px) / 2) + 162px);
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-23 {
    margin-top: 20px;
    margin-left: 106px;
  }

  .u-section-1 .u-list-4 {
    width: 320px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 135px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 135px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 135px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 135px;
  }

  .u-section-1 .u-list-5 {
    width: 320px;
  }

  .u-section-1 .u-repeater-5 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-29 {
    margin-right: 91px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 91px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 91px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 8px;
}